
# فایل‌های موقت و بیزاری متلب
*.m~
*.asv
*.autosave

# فایل‌های کش و حالت
mltbx_cache/
simulink/
.simulink/

# فایل‌های کامپایل‌شده و اجرایی
*.mex*
*.dll
*.exe

# فایل‌های پشتیبان سیمولینک
*.slx.r*
*.mdl.r*
*.slxc

# فایل‌های گزارش و خروجی
html/
*.html
*.pdf

# فایل‌های پکیج
*.mltbx
*.prj
